.confirm-section {
    h1, h5 {
    text-align: center;
    color: white;
  }

  h1 {
    font-size: 50px;
    padding-bottom: 20px;
  }

  h5 {
    opacity: .8;
    font-weight: lighter;
  }
}

.confirm-card {
  background-color: $blue;
  border-radius: 5px;
  padding: 50px 30px;

  .footer-confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;

  }
  .footer-confirm-links {
    display: flex;
    align-items: center;
  }
  .footer-confirm-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;

  }
  .footer-confirm-links a:hover {
    opacity: 1;
  }
  .footer-confirm .fa-heart {
    color: white;
  }

  .footer-confirm-copyright {
    color: white;
  }
}

