.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(35,63,168,0.4), rgba(35,63,168,0.4)), image-url("banner.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.section-title, .sub-section {
  text-align: center;

  i {
    font-size: 60px;
    padding-bottom: 25px;
    color: $blue;
  }

   p {
      color: $light-gray;
    }
}

section {
  padding: 100px 0px;

  .section-title {
    color: black;
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.challenge-form {
  background-color: #ECECEC;
  .form-title {
    color: black;
    font-size: 28px;
    margin-bottom: 10px;
  }

  h5 {
    color: $gray-b;
    text-align: center;
    margin-bottom: 70px;
  }
}

.form-group {
  input, textarea {
    border-radius: 5px;
  }
}

.challenge-form-card {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}

.logo {
  img {
    width: 45px;
  }
}

.form-check {
  padding-left: 0px;
}

.privacy {
  p {
    color: $light-gray;
    padding-left: 10px;
  }
}

.login-form {
  color: white;
  margin-top: 100px;
  background-color: $blue;
  border-radius: 10px;
  padding: 60px 40px;
  border: 1px solid $light-gray;

  .form-headline-info {
    padding-bottom: 15px;
    text-align: center;
  }
  a {
    color: white;
  }
  h2 {
    font-weight: bold;
    text-align: center;

  }

  p {
    color: white;
    font-size: 20px;
  }

  input, select, textarea {
    border-radius: 3px;
  }

  .btn-flat {
    color: white;
  }

  .btn-search {
    background-color: #C2C2C2;
    color: white;
  }

  .add-later-btn {
    font-size: 13px;
    font-weight: lighter;
  }

  .form-check {
    padding-left: 0px;
    margin-top: 20px;
  }
}

.challenge-list-index {
  li {
    font-size: 20px;
    padding: 5px 0px;
  }
}

.challenge-not-published {

  h5 {
    text-align: center;
  }
}
