.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("banner.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.section-title, .sub-section {
  text-align: center;

  i {
    font-size: 60px;
    padding-bottom: 25px;
    color: $blue;
  }

   p {
      color: $light-gray;
    }
}

section {
  padding: 100px 0px;

  .section-title {
    color: black;
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.challenge-form {
  background-color: #ECECEC;
  .form-title {
    color: black;
    font-size: 28px;
    margin-bottom: 10px;
  }

  h5 {
    color: $gray-b;
    text-align: center;
    margin-bottom: 70px;
  }
}

.form-group {
  input, textarea {
    border-radius: 5px;
  }
}

.challenge-form-card {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}

.logo {
  img {
    width: 65px;
  }
}

.form-check {
  padding-left: 0px;
}

.privacy {
  p {
    color: $light-gray;
    padding-left: 10px;
  }
}
