.banner-logo {
  height: 40px;
  background-color: $blue;
  .logo img {
    width: 25px;
    height: 25px;
  }

  .logo-text {
    position: relative;
    top: 8px;
  }

  .input {
    color: white;
  }
}

.banner-challenge {
  height: 200px;
  background-color: #EFEFEF;
  object-fit: cover;
  background-size: cover;
  background-position: center;

  .challenge-title {
    color: $blue;
    font-size: 15px;
    font-weight: bold;
  }

  .icon {
    text-align: center;
    font-size: 15px;
    color: $blue;
  }

  .input {
    color: black;
  }
}

.startup-card {
  width: 700px;
  background-color: #EFEFEF;
  margin-top: 50px;
  border-radius: 8px;
  padding: 35px;
  border: 1px solid $blue;

  .startup-short-description {
    color: $light-gray;
  }

  .section {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
    color: $blue;
    margin-bottom: 3px;
  }

  .details-section {
    text-align: center;
  }
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-prev-icon {
  position: relative;
  right: 73px;
}

.carousel-control-next-icon {
  position: relative;
  left: 43px;
}


