<footer class="footer-section">
  <div class="footer">
    <%= link_to "Privacy Policy", privacy_pages_path %>
    <div class="footer-copyright">
      &copy; 2020 Konektd. All rights reserved.
    </div>
  </div>
</footer>