<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %> pl-5 ml-3">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= yield(:logo) %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</div>