<div class="startup-card">
  <div class="info-section section">
    <div class="d-flex">
      <div class="startup-logo">
        <%= image_tag "https://res-4.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/v1493047751/reck0gtaywrfymhy3cqd.jpg" %>
      </div>
      <div class="startup-details pl-3">
        <h2 class="startup-name mb-0"><strong>Fixico</strong></h2>
        <i class="fas fa-map-marker-alt"></i>
        <span class="startup-location">Amsterdam</span>
        <p class="startup-short-description mb-1">Reinventing and digitising car repair handling</p>
      </div>
    </div>
  </div>
  <div class="border-bottom line"></div>
  <div class="details-section section">
    <div class="container">
      <div class="row pt-2">
        <div class="col-md-3">
          <div class="founding-year">
            <p class="title">Founding year</p>
            <p class="input">2014</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employees">
            <p class="title">Est. employees</p>
            <p class="input">63</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="offering">
            <p class="title">Offering</p>
            <p class="input">Software</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="funding-amount">
            <p class="title">Funding to date</p>
            <p class="input">$10.2M</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom line">
  </div>
  <div class="usp-section section">
    <div class="row pt-2">
      <div class="col-md-12">
        <div class="usp">
          <p class="title">What makes it unique</p>
          <p class="input">Largest 2-sided marketplace for damage repairs in Europe</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom line">
  </div>
  <div class="poc-section section">
    <div class="row pt-2">
      <div class="col-md-12">
        <div class="poc">
          <p class="title">How would a POC look like?</p>
          <p class="input">Largest 2-sided marketplace for damage repairs in Europe</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom line">
  </div>
  <div class="previous-poc-section section">
    <div class="row pt-2">
      <div class="col-md-12">
        <div class="previous-poc">
          <p class="title">Examples of previous POCs run</p>
          <p class="input">Largest 2-sided marketplace for damage repairs in Europe</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom line">
  </div>
  <div class="attachments-section section">
    <div class="row pt-2">
      <div class="col-md-12">
        <div class="previous-poc">
          <p class="title">Attachments</p>
          <p class="input">Fixico deck</p>
        </div>
      </div>
    </div>
  </div>
</div>