<section class="confirm-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="confirm-card">
          <div class="logo d-flex justify-content-around">
            <%= image_tag "logo.png", class: "pb-4" %>
          </div>
          <h1>Thank you!</h1>
          <h5 class="pb-5">We will share your details with our corporate partner and get back to you in case further info is needed</h5>
          <div class="footer-confirm pt-5">
            <div class="footer-confirm-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="footer-confirm-copyright">
              &copy; 2020 Konektd. All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>