<%= content_for(:navbar_class, "navbar-home") %>
<div class="container-flex">
  <div class="banner-challenge">
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-3">
          <i class="icon fas fa-industry"></i>
          <span class="title">Industry
          </span>
          <p class="input">test test</p>
        </div>
        <div class="col-md-3">
          <i class="icon fas fa-building"></i>
          <span class="title">Company type
          </span>
        </div>
        <div class="col-md-6">
          <i class="icon fas fa-hand-pointer"></i>
          <span class="title">Desired criteria
          </span>
        </div>
        <div class="col-md-12">
          <i class="icon fas fa-rocket"></i>
          <span class="title">Challenge description
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="startup-card">
          <div class="info-section border-bottom">
            <div class="d-flex">
              <div class="startup-logo">
              </div>
              <div class="startup-details">
                <p class="startup-name"></p>
                <p class="startup-location"></p>
                <p class="startup-short-description"></p>
              </div>
            </div>
          </div>
          <div class="details-section border-bottom">
            <div class="row">
              <div class="col-md-3">
                <div class="founding-year">
                </div>
              </div>
              <div class="col-md-3">
                <div class="employees">
                </div>
              </div>
              <div class="col-md-3">
                <div class="offering">
                </div>
              </div>
              <div class="col-md-3">
                <div class="funding-amount">
                </div>
              </div>
            </div>
          </div>
          <div class="usp-section border-bottom">
            <div class="row">
              <div class="col-md-12">
                <div class="usp">
                </div>
              </div>
            </div>
          </div>
          <div class="poc-section border-bottom">
            <div class="row">
              <div class="col-md-12">
                <div class="usp">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>